/* CSS style of body */
body {
  background: linear-gradient(135deg, #000000, #ff00ff);
}



/* CSS styles for the navigation bar */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333;
  padding: 10px;
  z-index: 9999;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.navbar a:hover {
  color: #ff0;
}

/* CSS styles for the page content */
.content {
  margin-top: 40px;
  padding: 20px;
}

/* CSS styles for the page content */
.content-body {
  margin-top: 350px;
  padding: 20px;
}


/* CSS styles for the image */
.small-image {
  position: absolute;
  top: 20px;
  left: 20px;
}


.content-about {
  margin-top: 100px; /* Adjust the value as needed */
}



/* CSS styles for contact form */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 2px solid limegreen;
}

.container input,
.container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.container input[type="submit"] {
  background-color: limegreen;
  color: white;
  cursor: pointer;
}

.container input[type="submit"]:hover {
  background-color: darkgreen;
}

.container label {
  font-weight: bold;
}


